---

- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_facts['distribution_major_version' }}.yml"
  when: ansible_facts['os_family'] == "RedHat"

- name: Import redhat-epel
  ansible.builtin.import_tasks: redhat-epel.yml
  when: ansible_facts['os_family'] == "RedHat"
